:root {
    --top-strip: 5px;
    --font: "Source Sans Pro", sans-serif;
}
body {
    font-family: var(--font);
}
.top_strip {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: var(--top-strip);
    background-color: tomato;
}
.body {
    position: absolute;
    top: var(--top-strip);
    width: 1000px;
    left: calc(50% - 500px);
    height: auto;
}
.school{
    height: 100px;
    background: tomato;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: var(-font);
}
.header {
    position: absolute;
    width: 100%;
    height: 150px;
}
.header_top {
    position: relative;
    top: 0px;
    right: 0px;
    height: 30px;
}
.signin {
    position: absolute;
    right: 0px;
    background: linear-gradient(tomato, tomato);
    border: none;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100px;
    color: white;
    transition: all 200ms;
    font-family: var(--font);
    font-weight: bold;
    outline: none;
}
.signin:hover {
    background: linear-gradient(tomato, red);
}
.header_bottom {
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    display: flex;
    /* background-color: red; */
}
.logo {
    position: absolute;
    top: calc(50% - 40px);
    height: 80px;
    width: 300px;
}
.logo_icon {
    height: 80px;
    /* width: 60px; */
}
.tabs {
    position: absolute;
    /* flex: 1; */
    /* width: 100px; */
    right: 0px;
    display: flex;
    height: 30px;
    top: calc(50% - 15px);
}

.about {
    margin-right: 10px;
    width: 100px;
    background-color: tomato;
    border: none;
    border-radius: 300px;
    color: white;
    outline: none;
}
.about:hover {
    border: solid;
    border-width: 1px;
    border-color: tomato;
    background-color: white;
    color: tomato;
    border-color: tomato;
}
.search {
    display: flex;
}
.search_input {
    outline: none;
    border: none;
    background-color: #e0dada;
    color: black;
    border-radius: 300px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 10px;
    font-family: var(--font);
    font-weight: bold;
}
.search_btn {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/search.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.recently_published {
    position: relative;
    background-image: url(https://journals.plos.org/plosbiology/indirect/3b617e1e8a0b13f889b9654073db493ca05b615ef3b8c2aba3aa650a34d15d57);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 400px;
    border-radius: 5px;
    color: white;
    font-family: var(--font);
    margin-bottom: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.recently_published_wrap {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}
.recently_published_title {
    font-size: 30px;
    font-weight: bold;
}
.recently_published_shortbody {
    font-style: italic;
    font-size: 21px;
}
.recently_published_readmore {
    color: white;
    font-style: italic;
}
.all_papers {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding-left: 50px;
}
.posts_card {
    position: relative;
    background-color: #e0dada;
    width: 400px;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.wrap {
    position: absolute;
    bottom: 0px;
    height: 200px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.date {
    font-size: 13px;
}
.title {
    font-weight: bold;
}
.shortbody {
    font-style: italic;
}
.readmore {
    color: black;
    font-style: italic;
}
.image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
}

.footer {
    position: relative;
    height: 430px;
    background-color: #202020;
}
.bottom_footer {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
}
.top_footer_wrap {
    display: flex;
    padding: 20px;
}
.section {
    color: white;
    margin-right: 20px;
    max-width: 200px;
}
body > div.body > div > div.footer > div.top_footer > div > div > li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
body > div.body > div > div.footer > div.top_footer > div > div > li:hover {
    background-color: tomato;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
body > div.body > div > div.footer > div.top_footer > div > div > li > a {
    color: white;
    text-decoration: none;
}


/* mobile */
@media (max-width: 1200px) {
}
